#parse("header.html")
<div class="production">
    <div class="title">产品展示 <b>/ PRODUCTION</b></div>
    <div class="container mt15">
        <div class="uk-margin" data-uk-slideset="{small: 2, medium: 4,autoplay:true,duration:200}">
            <div class="uk-slidenav-position uk-margin">
                <ul class="uk-slideset uk-grid uk-flex-center">
                    #foreach($p in $data.ProductList)
                    <li><a href="$p.titleURL"><img src="$p.titleImg" alt="$p.title" onerror="this.src='$data.hostUrl/statics/images/nopic.gif'" /></a><p>$p.title</p></li>
                    #end
                </ul>
                <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="title">新闻资讯 <b>/ NEWS</b></div>
    <div class="container">
        <ul class="clear_pull mt15">
            #foreach($p in $data.NewsList)
            <li><a href="$p.titleURL">$p.title</a><span class="time">$p.addTime</span></li>
            #end
        </ul>
    </div>
</div>
<script language=javascript src='$data.hostUrl/templates/jsdy/footer.html'></script>
<script src="$data.hostUrl/statics/js/public.js"></script>
</body>

</html>