    var dom = '<div class=\"header\">
    \n' +
    '        <div class=\"top\">
        \n' +
        '            <marquee>欢迎光临江苏大容建筑装饰有限公司！公司是研发、设计、生产、销售、安装及售后服务为一体的专业制造活动隔断和玻璃隔断的生产商，生产的活动隔断有（100型,85型,70型），玻璃隔断有（83款.70款、60款），公司为研发、设计、制造、销售、安装为一体，服务于全国。</marquee>\n' +
        '
    </div>\n' +
    '        <div class=\"bottom\">
        \n' +
        '            <div class=\"container clear_pull\">
            \n' +
            '                <div class=\"pull_left\">
                \n' +
                '                    <img src=\"http://tu.ossfiles.cn:9186/group1/M00/11/BF/rBgIBlxw9GCQHZUcAAA743XTc6U929.jpg\" class=\"m_hide\" />\n' +
                '                    <b>江苏大容建筑装饰有限公司</b>\n' +
                '
            </div>\n' +
            '                <div class=\"today_info pull_right\">
                \n' +
                '                    <div class=\"tel_phone\">
                    \n' +
                    '                        <i class=\"uk-icon-phone-square\"></i> 咨询热线：13661473343\n' +
                    '
                </div>\n' +
                '                    <i class=\"uk-icon-calendar\"></i>\n' +
                '                    <span id=\"time\"></span>\n' +
                '
            </div>\n' +
            '
        </div>\n' +
        '
    </div>\n' +
    '
</div>\n'+
        '    <div class=\"nav bg_main\">
    \n' +
    '        <div class=\"container\">
        \n' +
        '            <ul class=\"clear_pull\">
            \n' +
            '    \n' +
            '
            <li>
                \n' +
                '               <a href=\"http://www.99114.com/hyfl/company/shop/home/6301.html\">公司首页</a>\n' +
                '
            </li>\n' +
            '       \n' +
            '
            <li>
                \n' +
                '               <a href=\"http://www.99114.com/hyfl/company/shop/introduce/6301.html\">公司简介</a>\n' +
                '
            </li>\n' +
            '       \n' +
            '
            <li>
                \n' +
                '               <a href=\"http://www.99114.com/hyfl/company/shop/productions/6301.html\">产品展示</a>\n' +
                '
            </li>\n' +
            '       \n' +
            '
            <li>
                \n' +
                '               <a href=\"http://www.99114.com/hyfl/company/shop/infos/6301.html\">新闻资讯</a>\n' +
                '
            </li>\n' +
            '       \n' +
            '
            <li>
                \n' +
                '               <a href=\"http://www.99114.com/hyfl/company/shop/contact/6301.html\">联系我们</a>\n' +
                '
            </li>\n' +
            '       \n' +
            '
            <li><a href=\"\" rel=\"nofollow\">进入官网</a></li>\n'+
            '
        </ul>\n' +
        '
    </div>\n' +
    '
</div>\n' +
        '    <div class=\"uk-slidenav-position\" data-uk-slideshow=\"{animation: \'slice-up-down\',autoplay:true,Interval:3000}\">
    \n' +
    '        <ul class=\"uk-slideshow\">
        \n' +
        '            \n' +
        '
        <li>
            \n' +
            '                    <img src=\"http://tu.ossfiles.cn:9186/group1/M00/11/BA/rBgIBlxw8w32QgCIAALh0BnX2L8077.jpg\" />\n' +
            '
        </li>\n' +
        '            \n' +
        '
        <li>
            \n' +
            '                    <img src=\"http://tu.ossfiles.cn:9186/group1/M00/11/BA/rBgIBlxw8xOKmEQeAAMPgihR3N4222.jpg\" />\n' +
            '
        </li>\n' +
        '            \n' +
        '
        <li>
            \n' +
            '                    <img src=\"http://tu.ossfiles.cn:9186/group1/M00/11/BB/rBgIBlxw8xjenbVaAALkl8ZKSzA596.jpg\" />\n' +
            '
        </li>\n' +
        '            \n' +
        '
    </ul>\n' +
    '        <span class=\"uk-slidenav uk-slidenav-contrast uk-slidenav-previous\" data-uk-slideshow-item=\"previous\"></span>\n' +
    '        <span class=\"uk-slidenav uk-slidenav-contrast uk-slidenav-next\" data-uk-slideshow-item=\"next\"></span>\n' +
    '
</div>';
    document.writeln(dom);