<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title>公司首页-{$data.htmlTitle}-{$data.hostName}</title>
    <meta name="keywords" content="$data.keyword" />
    <meta name="description" content="$data.description" />
    <link rel="stylesheet" href="$data.hostUrl/statics/css/uikit.docs.min.css" />
    <link rel="stylesheet" href="$data.hostUrl/statics/css/style.css" />
    <script type="text/javascript" src="$data.hostUrl/statics/js/jquery.min.js"></script>
    <script src="$data.hostUrl/statics/js/uikit.min.js"></script>
    <script src="$data.hostUrl/statics/js/slideshow.js"></script>
    <script src="$data.hostUrl/statics/js/slideshow-fx.js"></script>
    <script src="$data.hostUrl/statics/js/slideset.js"></script>
</head>

<body>
    <script language=javascript src='$data.hostUrl/templates/jsdy/gundonghead.html'></script>
